Source: {{ name }}
Section: python
Priority: extra
Maintainer: {{ maintainer }} <{{ maintainer_email }}>
Build-Depends: debhelper (>= 11), python3, dh-virtualenv (>= 1.2.2)
Standards-Version: 3.9.5

Package: {{ name }}
Architecture: any
Pre-Depends: dpkg (>= 1.16.1), ${misc:Pre-Depends}
Depends: ${misc:Depends}
Description: {{ description }}
 {{ description }}
